build --copt=-g
build --copt=-O0

build --cxxopt="-D_GLIBCXX_USE_CXX11_ABI=1"
build --cxxopt="-g"
build --cxxopt="-O0"
build --cxxopt="-std=c++14"


# Build TF with C++ 17 features.
build:c++14 --cxxopt=-std=c++14
build:c++17 --cxxopt=-stdlib=libc++
build:c++1z --config=c++17

# linker 

build:lld --linkopt=-fuse-ld=lld

build --copt="-Wno-error=array-parameter="
build --copt="-Wno-error=array-bounds"